* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Montserrat", sans-serif;
  color: #272727; }

html, body {
  overflow-x: hidden;
  height: 100%; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  a:hover {
    text-decoration: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 78px;
  width: 100%;
  max-width: 388px;
  border-radius: 39px; }

.btn-accent {
  color: #fffafa;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  background: #fd4e1f; }
  .btn-accent:hover {
    background: #631ca8; }

.btn-mobile {
  display: none;
  height: 56px; }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
  padding: 0 15px; }

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 70px;
  font-weight: bold;
  color: #fff; }
  h1 span {
    position: relative;
    background: #631ca8;
    padding: 0 10px; }

h2 {
  text-align: center;
  width: 100%;
  margin: 0 auto 57px;
  color: #272727;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase; }

.title-description {
  width: 100%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
  margin: 0 auto 133px; }

header {
  position: absolute;
  left: 0;
  top: 42px;
  width: 100%;
  z-index: 3; }
  header .container {
    max-width: 1530px;
    border-radius: 10px;
    border: solid 8px #ffffff;
    background-color: #631ca8;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 35px 15px; }

.logo {
  margin: 0 110px; }

.links-menu {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  margin: 0 60px 0 0; }
  .links-menu:last-child, .links-menu:nth-child(2) {
    margin: 0; }

main {
  padding: 430px 0 332px;
  position: relative;
  background: url("../img/bg1.png") no-repeat center bottom;
    background-size: cover; }
  main .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  main:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 763px;
    background: url("../img/shadow1.png") no-repeat center;
      background-size: cover; }

.main-kids {
  background: url("../img/bg2.png") no-repeat center;
    background-size: cover; }

.games {
  position: relative;
  padding: 155px 0 132px; }
  .games:before, .games:after {
    content: '';
    position: absolute; }
  .games:before {
    width: 730px;
    height: 980px;
    background: url("../img/decor1.png") no-repeat center;
      background-size: contain;
    left: 0;
    top: -239px; }
  .games:after {
    top: 62px;
    width: 242px;
    height: 438px;
    right: 0;
    background: url("../img/decor2.png") no-repeat center;
      background-size: contain; }

.tabs__content {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.tabs__content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.tabs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.tabs__caption {
  border-bottom: solid 2px #631ca8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 70px;
  padding: 0 100px 0; }
  .tabs__caption li {
    margin: 0 40px 0 0;
    padding: 0 0 40px;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    color: #808080; }
    .tabs__caption li:last-child {
      margin: 0; }
    .tabs__caption li:before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -7.5px;
      width: 144px;
      height: 13px;
      border-radius: 6.5px;
      -webkit-transition: .3s ease;
      transition: .3s ease;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0); }
  .tabs__caption .active {
    color: #272727; }
    .tabs__caption .active:before {
      background: #631ca8; }

.games-photo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.games-photo__box {
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 314px;
  height: 314px;
  overflow: hidden;
  margin: 0 0 60px; }
  .games-photo__box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.games-description {
  font-size: 20px;
  font-weight: 500;
  text-align: center; }

.price {
  position: relative;
  padding: 0 0 100px; }
  .price:before {
    content: '';
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: -100px;
    width: 536px;
    height: 365px;
    background: url("../img/decor3.png") no-repeat center;
      background-size: contain; }
  .price h2 span {
    position: relative;
    display: inline-block; }
    .price h2 span:after {
      content: '';
      position: absolute;
      width: 134px;
      height: 140px;
      right: -124px;
      top: 20%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      background: url("../img/decor4.png") no-repeat center;
        background-size: contain; }
  .price .container {
    max-width: none; }

.btn-hover {
  display: none; }

.price-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative; }

.price-box {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: .5;
  width: 560px;
  color: #fff;
  cursor: pointer;
  margin: 0 0 55px; }
  .price-box:hover {
    opacity: 1; }
    .price-box:hover .price-box__wrap {
      margin: 0 0 40px; }
    .price-box:hover .price-box__hover {
      width: 707px;
      height: 485px;
      opacity: 1;
      visibility: visible; }
    .price-box:hover .btn {
      display: none; }
    .price-box:hover .btn-hover {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 388px;
      height: 78px;
      font-size: 25px; }
  .price-box .btn {
    width: 266px;
    height: 54px;
    font-size: 18px; }

.price-box__wrap {
  position: relative;
  height: 427px;
  width: 100%;
  border-radius: 60px;
  background: #272727 url("../img/price-bg1.jpg") no-repeat center;
    background-size: cover;
  margin: 0 0 27px; }

.price-box__title {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 1;
  background: #631ca8;
  color: #fffafa;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 99px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase; }
  .price-box__title h3 {
    font-size: 35px; }

.price-box__hover {
  border-radius: 60px;
  width: 100%;
  height: 100%;
  z-index: 3;
  position: absolute;
  -webkit-box-shadow: 0 10px 20px 0 rgba(99, 28, 168, 0.2);
          box-shadow: 0 10px 20px 0 rgba(99, 28, 168, 0.2);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #631ca8;
  padding: 46px 45px 38px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.price-box__hover-bottom {
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  padding: 18px 0 0;
  color: rgba(255, 255, 255, 0.5);
  width: 100%; }
  .price-box__hover-bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .price-box__hover-bottom ul li {
      width: 42%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 0 10px; }
      .price-box__hover-bottom ul li .icon {
        margin: 0 11px 0 0;
        width: 16px;
        height: 16px;
        min-width: 16px; }
      .price-box__hover-bottom ul li:nth-child(even) {
        width: 57%; }

.price-box__hover-center {
  margin: 51px 0 auto;
  line-height: 1.5;
  width: 100%; }

.price-box__hover-top {
  width: 100%;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 30px 0 0; }
  .price-box__hover-top h4 {
    font-size: 35px;
    font-weight: bold; }

.stages-event {
  position: relative;
  padding: 0 0 98px; }
  .stages-event h2 {
    margin: 0 auto 27px; }
  .stages-event:after, .stages-event:before {
    content: '';
    position: absolute; }
  .stages-event:before {
    width: 274px;
    height: 270px;
    left: 11px;
    top: 130px;
    background: url("../img/decor5.png") no-repeat center;
      background-size: contain; }
  .stages-event:after {
    width: 927px;
    height: 980px;
    right: 0;
    top: 50px;
    background: url("../img/decor6.png") no-repeat center;
      background-size: contain;
    opacity: .2; }

.description {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin: 0 auto 53px;
  line-height: 1.5; }

.stages-event__box {
  position: relative;
  width: 100%;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 500; }
  .stages-event__box .time {
    color: #631ca8;
    font-size: 35px;
    font-weight: bold;
    line-height: 1; }
  .stages-event__box .text {
    margin: 10px 0 14px; }
    .stages-event__box .text p {
      margin: 0 0 10px; }
      .stages-event__box .text p:last-child {
        margin: 0; }
  .stages-event__box h3 {
    margin: 20px 0 20px;
    color: #fd4e1f;
    font-size: 35px;
    font-weight: bold;
    line-height: 1; }

.line {
  position: absolute;
  top: 25px; }

.line1 {
  width: 38px;
  height: 382px;
  left: -51px; }

.line2 {
  width: 38px;
  height: 916px;
  left: -56px; }

.line3 {
  width: 38px;
  height: 1096px;
  left: -61px; }

.about-video {
  position: relative;
  background: url("../img/video-bg.png") no-repeat center;
    background-size: cover;
  padding: 65px 0 0;
  margin: 0 0 190px; }
  .about-video h2 {
    color: #fff;
    margin: 0 auto 54px; }
  .about-video:before, .about-video:after {
    content: '';
    position: absolute; }
  .about-video:before {
    top: 69px;
    left: 213px;
    width: 116px;
    height: 163px;
    background: url("../img/decor7.png") no-repeat center;
      background-size: contain; }
  .about-video:after {
    right: 196px;
    top: 164px;
    width: 159px;
    height: 394px;
    background: url("../img/decor9.png") no-repeat center;
      background-size: contain; }
  .about-video .decor-img {
    width: 113px;
    height: 77px;
    left: 262px;
    bottom: 111px;
    position: absolute; }

.video-wrapper {
  width: 100%;
  height: 555px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(39, 39, 39, 0.15);
          box-shadow: 0 10px 20px 0 rgba(39, 39, 39, 0.15);
  overflow: hidden;
  margin: 0 auto -35px;
  border-radius: 20px;
  position: relative; }
  .video-wrapper iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px; }

.bonus-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.bonus-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 31%;
  margin: 0 0 78px;
  font-size: 18px;
  color: #808080;
  line-height: 1.39; }
  .bonus-box h3 {
    line-height: 1.25;
    font-size: 20px;
    font-weight: bold;
    color: #272727;
    text-transform: uppercase;
    margin: 0 0 10px; }

.bonus-box__icon {
  width: 70px;
  min-width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 15px 0 0; }

.bonus-box__text {
  width: 100%; }

.gallery {
  position: relative;
  padding: 50px 0 130px; }
  .gallery:before, .gallery:after {
    content: '';
    position: absolute; }
  .gallery:before {
    width: 397px;
    height: 285px;
    background: url("../img/decor10.png") no-repeat center;
      background-size: contain;
    left: 45px;
    top: 101px; }
  .gallery:after {
    width: 295px;
    height: 249px;
    right: 231px;
    top: -20px;
    background: url("../img/decor11.png") no-repeat center;
      background-size: contain; }

.gallery-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.gallery-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 554px;
  height: 344px;
  margin: 0 0 28px;
  border-radius: 60px; }
  .gallery-box img {
    border-radius: 60px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.reviews-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.reviews-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  margin: 0 0 54px;
  width: 347px;
  height: 496px;
  border-radius: 10px;
  padding: 40px 50px;
  -webkit-box-shadow: 0 0 19px 1px rgba(39, 39, 39, 0.15);
          box-shadow: 0 0 19px 1px rgba(39, 39, 39, 0.15);
  position: relative; }
  .reviews-box:before {
    content: '';
    position: absolute;
    width: calc(100% - 35px);
    height: calc(100% - 40px);
    top: 17px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    border-radius: 10px;
    border: solid 2px #7216ad; }

.reviews-box__photo {
  position: relative;
  z-index: 1;
  width: 96.2px;
  height: 91.4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  overflow: hidden; }
  .reviews-box__photo img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.reviews-box__text {
  text-align: center;
  position: relative;
  padding: 30px 0;
  margin: 33px 0 0;
  line-height: 1.39;
  font-size: 18px; }
  .reviews-box__text:before, .reviews-box__text:after {
    content: '';
    position: absolute;
    width: 167px;
    height: 2px;
    background: #7216ad;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .reviews-box__text:before {
    top: 0; }
  .reviews-box__text:after {
    bottom: 0; }

.reservation {
  margin: 83px 0 185px; }
  .reservation:before {
    width: 181px;
    height: 303px;
    background: url("../img/decor12.png") no-repeat center;
      background-size: contain;
    left: 196px;
    top: 218px; }
  .reservation:after {
    width: 149px;
    height: 404px;
    background: url("../img/decor13.png") no-repeat center;
      background-size: contain;
    bottom: 99px;
    right: 195px; }

.reservation-box {
  width: 100%;
  height: 555px;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(39, 39, 39, 0.15);
          box-shadow: 0 10px 20px 0 rgba(39, 39, 39, 0.15);
  margin: 0 auto -35px; }

.options {
  position: relative; }
  .options:before {
    content: '';
    position: absolute;
    right: 0;
    top: 40px;
    width: 416px;
    height: 704px;
    background: url("../img/decor14.png") no-repeat center;
      background-size: contain; }

.options-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.options-box {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 45px; }

.options-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 27px 0 0;
  width: 101px;
  min-width: 101px;
  height: 101px; }

.options-box__text {
  color: #808080;
  font-size: 18px;
  line-height: 1.67; }
  .options-box__text h3 {
    line-height: 1.5;
    font-size: 20px;
    font-weight: bold;
    color: #272727;
    text-transform: uppercase;
    max-width: 310px; }

.scripts {
  position: relative;
  padding: 90px 0 150px; }
  .scripts:before {
    content: '';
    position: absolute;
    top: 0;
    left: 156px;
    width: 847px;
    height: 387px;
    background: url("../img/decor15.png") no-repeat center;
      background-size: contain; }
  .scripts:after {
    content: '';
    position: absolute;
    left: 0;
    width: 328px;
    height: 437px;
    background: url("../img/decor16.png") no-repeat center;
      background-size: contain;
    bottom: 300px; }

.scripts-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.scripts-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 508px;
  font-size: 20px;
  font-weight: 500; }

.scripts-box__photo {
  width: 100%;
  height: 427px;
  overflow: hidden;
  position: relative;
  color: #fff;
  border-radius: 20px 20px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #272727; }
  .scripts-box__photo img {
    width: 100%;
    opacity: .8;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.scripts-name {
  width: 100%;
  position: absolute;
  bottom: 40px;
  left: 0;
  text-align: center;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500; }
  .scripts-name h3 {
    font-size: 35px;
    font-weight: bold; }

.scripts-box__content {
  width: 100%;
  padding: 33px 0 21px;
  line-height: 1.5; }
  .scripts-box__content ul {
    color: #808080;
    margin: 25px 0 0; }

.scripts-box__footer {
  border-top: solid 1px #272727;
  padding: 30px 0 10px;
  width: 100%; }
  .scripts-box__footer ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .scripts-box__footer ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 0 20px; }
      .scripts-box__footer ul li .icon {
        margin: 0 7px 0 0; }

.question {
  position: relative; }
  .question:before {
    content: '';
    position: absolute;
    right: 174px;
    top: 322px;
    width: 208px;
    height: 215px;
    background: url("../img/decor17.png") no-repeat center;
      background-size: contain; }

.question-wrapper {
  position: relative;
  width: 100%; }

.panel_heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 40px; }
  .panel_heading:last-child {
    margin: 0; }

.block_title {
  position: relative;
  width: calc(100% - 630px);
  cursor: pointer;
  padding: 0 40px 0 0;
  text-transform: uppercase;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  line-height: 1.4;
  font-size: 25px;
  font-weight: bold; }
  .block_title:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    height: 100%;
    background: transparent;
    width: 13px;
    border-radius: 6px;
    -webkit-transition: .3s ease;
    transition: .3s ease; }

.in .block_title {
  padding: 0 0 0 36px; }
  .in .block_title:before {
    background: #631ca8; }

.in .block_hover {
  display: block; }

.block_hover {
  display: none;
  width: 631px;
  height: 603px;
  border-radius: 60px;
  -webkit-box-shadow: 0 10px 20px 0 rgba(99, 28, 168, 0.2);
          box-shadow: 0 10px 20px 0 rgba(99, 28, 168, 0.2);
  background-color: #631ca8;
  color: #fff;
  padding: 74px 48px;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  right: 0;
  top: 0; }

.contacts {
  padding: 193px 0 162px;
  position: relative; }
  .contacts:before {
    content: '';
    position: absolute;
    bottom: -60px;
    width: 757px;
    height: 608px;
    background: url("../img/decor18-1.png") no-repeat center;
      background-size: contain;
    right: 436px; }
  .contacts .container {
    max-width: 1500px; }

.contacts-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.contacts-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 0.83;
  margin: 0 0 64px; }
  .contacts-box .icon {
    margin: 0 32px 0 0;
    width: 33px;
    height: 44px; }
  .contacts-box h3 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 10px; }

.maps {
  width: 100%;
  height: 1080px;
  position: relative;
  z-index: 1; }
  .maps iframe {
    width: 100%;
    height: 100%; }

.callback {
  position: relative;
  padding: 0 0 93px; }
  .callback h2 {
    margin: 0 auto 48px; }
  .callback:before, .callback:after {
    content: '';
    position: absolute; }
  .callback:before {
    width: 207px;
    height: 235px;
    background: url("../img/decor18.png") no-repeat center;
      background-size: contain;
    top: 0;
    left: 168px; }
  .callback:after {
    width: 329px;
    height: 388px;
    right: 97px;
    top: -40px;
    background: url("../img/decor19.png") no-repeat center;
      background-size: contain; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.form-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 91.5px;
  background-color: #631ca8;
  padding: 75px 208px; }

label {
  display: block;
  width: 280px; }

input {
  padding: 0 0 14px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
    border-radius: 0;
    border-bottom: solid 2px rgba(255, 255, 255, 0.5);
  background: transparent;
  height: auto;
  width: 100%;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  input::placeholder {
    color: rgba(255, 255, 255, 0.5); }
  input:focus, input:hover {
    color: #fff;
    border-color: #fff; }

button {
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  margin: 39px auto 0; }

footer {
  background: #631ca8;
  color: #fff;
  padding: 36px 0 47px; }

.footer-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px auto 0; }
  .list-social li {
    margin: 0 29px 0 0; }
    .list-social li:last-child {
      margin: 0; }

.links-mobile {
  display: none; }

.slick-slide {
  outline: none; }

.slick-dotted.slick-slider {
  margin-bottom: 0; }

.slider-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative; }

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
  bottom: 0;
  width: auto;
  margin: 0 26px; }
  .slick-dots .slick-active {
    opacity: 1;
    width: 22px;
    height: 22px; }
  .slick-dots li {
    outline: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    opacity: 0.5;
    background-color: #631ca8;
    margin: 0 7px 0 0; }
    .slick-dots li:last-child {
      margin: 0; }
    .slick-dots li button {
      display: none; }

.slick-arrow {
  position: relative;
  top: 0;
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
  width: 12px;
  height: 12px;
  margin: 0;
  background: url("../img/arrow-left.png") no-repeat center;
    background-size: contain; }
  .slick-arrow:before {
    display: none; }
  .slick-arrow:hover, .slick-arrow:focus {
    background: url("../img/arrow-left.png") no-repeat center;
      background-size: contain; }

.slick-next {
  right: 0;
  background: url("../img/arrow-right.png") no-repeat center;
    background-size: contain;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }
  .slick-next:hover, .slick-next:focus {
    background: url("../img/arrow-right.png") no-repeat center;
      background-size: contain; }

.slick-prev {
  left: 0; }

.slick-disabled {
  opacity: .5; }

.mobile-slider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.mobile-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: #631ca8;
  display: none;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
  height: 93px; }
  .mobile-menu a {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    padding: 19px 5px;
    border-radius: 30px 30px 0 0;
    opacity: .5; }
    .mobile-menu a:hover, .mobile-menu a:focus {
      background: #370e5e;
      opacity: 1; }
    .mobile-menu a .text {
      margin: 12px 0 0; }

.home-page {
  width: 100%;
  background: #631ca8;
  position: relative;
  padding: 100px 0 67px; }
  .home-page:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #3f0d6e; }
  .home-page:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 552px;
    background: url("../img/bg3.png") no-repeat center;
      background-size: cover; }
  .home-page h1 {
    margin: 169px auto 100px;
    font-size: 60px; }
  .home-page .logo {
    margin: 0 auto;
    width: 272px; }
  .home-page .description {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    max-width: 530px;
    margin: 0 auto; }
  .home-page .container {
    max-width: 1500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.home-page__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }
  .home-page__wrapper:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 157px;
    height: 112px;
    background: url("../img/d3.png") no-repeat center;
      background-size: contain; }

.home-page__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .home-page__box .icon-arrow {
    margin: -20px auto 42px; }

.home-page__box-wrap {
  position: relative;
  width: 554px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .home-page__box-wrap .photo {
    width: 100%;
    border-radius: 30px;
    border: solid 10px #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 40px;
    background-color: #880642;
    overflow: hidden;
    height: 321px; }
    .home-page__box-wrap .photo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .home-page__box-wrap .links {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold; }

.home-page__box1:before {
  content: '';
  position: absolute;
  width: 168px;
  height: 163px;
  left: -70px;
  top: 0;
  background: url("../img/d2.png") no-repeat center;
    background-size: contain; }

.home-page__box1:after {
  content: '';
  position: absolute;
  width: 71px;
  height: 100px;
  left: 90px;
  top: -134px;
  background: url("../img/d1.png") no-repeat center;
    background-size: contain; }

.home-page__box2:before {
  content: '';
  position: absolute;
  width: 176px;
  height: 192px;
  right: 30px;
  top: -40px;
  background: url("../img/d4.png") no-repeat center;
    background-size: contain; }

.home-page__box2:after {
  content: '';
  position: absolute;
  width: 75px;
  height: 70px;
  right: -30px;
  top: -154px;
  background: url("../img/d5.png") no-repeat center;
    background-size: contain; }

.text-mobile {
  display: none; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1820px) {
  .options:before {
    width: 300px; } }

@media only screen and (max-width: 1740px) {
  .price-box {
    width: 500px; }
  .price-box:hover .price-box__hover {
    width: 550px; }
  .price-box__hover {
    padding: 28px 45px;
    font-size: 16px; }
  .stages-event:before {
    width: 101px;
    height: 100px; }
  .stages-event:after {
    width: 340px;
    height: 521px; }
  .about-video:after {
    right: 20px; }
  .about-video:before {
    left: 100px; }
  .about-video .decor-img {
    left: 20px; }
  .scripts:after {
    width: 200px; } }

@media only screen and (max-width: 1610px) {
  .options:before {
    width: 200px;
    height: 340px; }
  .home-page .container {
    max-width: 1200px; }
  .home-page__box-wrap {
    width: 450px; }
  .home-page__box2:before {
    right: 0; } }

@media only screen and (max-width: 1540px) {
  .price-box {
    width: 350px; }
  .price-box__wrap {
    height: 327px; }
  .price-box__title {
    font-size: 18px; }
    .price-box__title h3 {
      font-size: 30px; }
  .price-box:hover .price-box__hover {
    width: 450px;
    height: 450px; }
  .price-box:hover .btn-hover {
    width: 300px;
    height: 60px;
    font-size: 18px; }
  .price-box__hover-center {
    margin: 20px 0 auto; }
  .price-box__hover-top {
    padding: 0; }
  .scripts:after {
    display: none; } }

@media only screen and (max-width: 1470px) {
  .options:before {
    width: 359px;
    height: 350px;
    opacity: .2;
    background: url("../img/decor21.png") no-repeat center;
      background-size: contain;
    top: -40px; } }

@media only screen and (max-width: 1400px) {
  .stages-event:before {
    left: auto;
    right: 18px;
    top: -50px;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1); } }

@media only screen and (max-width: 1300px) {
  .stages-event__box {
    padding: 0 0 0 50px; }
  .line {
    left: 0; }
  .line2 {
    left: -5px; }
  .line3 {
    left: -10px; }
  .gallery:after {
    right: 18px; } }

@media only screen and (max-width: 1200px) {
  .links-menu {
    margin: 0 30px 0 0;
    font-size: 18px; }
  .logo {
    margin: 0 50px; }
  .games:before {
    width: 430px;
    height: 680px; }
  main {
    position: relative;
    z-index: 1; }
  .price:before {
    width: 270px;
    height: 184px;
    top: -55px; }
  .about-video .decor-img, .about-video:after {
    display: none; }
  .gallery-box {
    width: 49%; }
  .callback:before {
    left: 0; }
  .callback:after {
    right: 0; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1100px) {
  .price-box {
    width: 100%;
    max-width: 424px;
    margin: 0 auto;
    opacity: 1; }
  .price-box__wrap {
    height: 315px;
    border-radius: 30px;
    margin: 0 0 30px; }
  .price-box__hover {
    border-radius: 30px;
    padding: 25px 30px; }
  .price-box:hover .price-box__hover {
    width: 100%;
    height: 100%;
    font-size: 15px; }
  .price-box__hover-top h4 {
    font-size: 20px; }
  .price-box__hover-bottom {
    font-size: 12px;
    padding: 10px 0 0; }
  .price-box__hover-bottom ul li {
    margin: 0 0 5px; }
    .price-box__hover-bottom ul li .icon {
      width: 10px;
      height: 10px;
      min-width: 10px; }
  .price-box:hover .price-box__wrap {
    margin: 0 0 30px; }
  .price-box .btn, .price-box:hover .btn-hover {
    display: none; }
  .price .btn-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 31px auto 0;
    width: 281px;
    height: 56px;
    font-size: 18px; }
  .price-box__hover-center ul {
    line-height: 1.2; }
  .price-box__hover {
    opacity: 1;
    visibility: visible; }
  .mobile-slider {
    display: block; }
  .stages-event__box h3 {
    font-size: 24px; }
  .stages-event__box .time {
    font-size: 24px; }
  .line {
    display: none; }
  .stages-event__wrapper {
    position: relative;
    border-radius: 10px;
    border-left: dashed 2px #ff0000; }
    .stages-event__wrapper:before, .stages-event__wrapper:after {
      content: '';
      position: absolute;
      width: 30px;
      height: 2px;
      border: dashed 1px #ff0000;
      left: 0; }
    .stages-event__wrapper:before {
      top: 0;
      border-radius: 10px 0 0 0; }
    .stages-event__wrapper:after {
      bottom: 0;
      border-radius: 10px 0 0 0; }
  .stages-event__box {
    font-size: 15px;
    line-height: 1.67;
    padding: 0 0 0 40px; }
    .stages-event__box:last-child h3 {
      margin-bottom: 0; }
  .stages-event__wrapper2 {
    position: relative;
    margin: 0 -5px 0 5px;
    border-radius: 10px;
    border-left: dashed 2px #fd4e1f; }
    .stages-event__wrapper2:before, .stages-event__wrapper2:after {
      content: '';
      position: absolute;
      width: 30px;
      height: 2px;
      border: dashed 1px #fd4e1f;
      left: 0; }
    .stages-event__wrapper2:before {
      top: 0;
      border-radius: 10px 0 0 0; }
    .stages-event__wrapper2:after {
      bottom: 0;
      border-radius: 10px 0 0 0; }
    .stages-event__wrapper2 .stages-event__box {
      margin: 0 -5px 0 5px;
      padding: 0 0 0 25px;
      position: relative; }
      .stages-event__wrapper2 .stages-event__box:last-child h3 {
        margin-bottom: 15px; }
      .stages-event__wrapper2 .stages-event__box:first-child {
        border-radius: 10px;
        border-left: dashed 2px #631ca8; }
        .stages-event__wrapper2 .stages-event__box:first-child:before, .stages-event__wrapper2 .stages-event__box:first-child:after {
          content: '';
          position: absolute;
          width: 30px;
          height: 2px;
          border: dashed 1px #631ca8;
          left: 0; }
        .stages-event__wrapper2 .stages-event__box:first-child:before {
          top: 0;
          border-radius: 10px 0 0 0; }
        .stages-event__wrapper2 .stages-event__box:first-child:after {
          bottom: 0;
          border-radius: 10px 0 0 0; }
  .bonus-box {
    width: 50%;
    margin: 0 0 30px; }
  .reviews-box {
    margin: 43px auto 34px; }
  .reviews h2 {
    margin: 0 auto; }
  .options-box {
    width: 50%; }
  .scripts-box {
    margin: 0 auto; }
    .scripts-box .btn {
      display: none; }
  .scripts .btn-mobile {
    font-size: 18px;
    width: 281px;
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 27px auto 0; }
  .form-group {
    padding: 37px 50px; }
  .home-page__wrapper:before {
    display: none; }
  .home-page h1 {
    margin: 120px 0 90px;
    font-size: 45px; } }

@media only screen and (max-width: 992px) {
  .games:before {
    width: 134px;
    height: 274px;
    top: -150px; }
  .games:after {
    width: 110px;
    height: 203px;
    top: 30px; }
  .games {
    padding: 107px 0 91px; }
  .games-photo__box {
    width: 200px;
    height: 200px; }
  .block_hover {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    padding: 0;
    background: transparent;
    color: #fff;
    margin: 35px 0 0;
    font-size: 15px;
    line-height: 1.67;
    height: auto; }
  .block_title {
    padding: 0 38px 0 0;
    width: 100%;
    font-size: 20px; }
    .block_title:before {
      width: 0;
      height: 0;
      border-left: 13px solid transparent;
      border-right: 13px solid transparent;
      border-top: 13px solid #272727;
      border-radius: 0;
      right: 0;
      top: 50%;
      left: auto;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      -webkit-transition: .3s ease;
      transition: .3s ease; }
  .panel_heading {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-radius: 15px;
    -webkit-box-shadow: 0 10px 20px 0 rgba(39, 39, 39, 0.2);
            box-shadow: 0 10px 20px 0 rgba(39, 39, 39, 0.2);
    background: #fff;
    padding: 37px;
    margin: 0 0 17px; }
  .in {
    background: #631ca8;
    border-radius: 30px; }
    .in .block_title {
      padding: 0;
      color: #fff; }
      .in .block_title:before {
        border-top-color: #fff;
        -webkit-transform: rotate(180deg) translate(0, -50%);
                transform: rotate(180deg) translate(0, -50%); }
  .question:before, .callback:after, .callback:before {
    display: none; }
  .home-page__box-wrap {
    width: 327px; }
    .home-page__box-wrap .photo {
      height: 190px;
      border-radius: 30px;
      border-width: 5px;
      margin: 0 0 17px; }
    .home-page__box-wrap .links {
      font-size: 18px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 890px) {
  .logo {
    width: 119px; }
  .links-menu {
    font-size: 16px; }
  header .container {
    padding: 30px 15px; }
  .about-video:before {
    display: none; }
  .gallery {
    padding: 30px 0 100px; }
    .gallery h2 {
      margin: 0 auto 39px; }
    .gallery:after {
      width: 99px;
      height: 83px;
      top: 10px; }
    .gallery:before {
      width: 480px;
      height: 521px;
      left: 0;
      background: url("../img/decor20.png") no-repeat center;
        background-size: contain;
      top: -130px; }
  .scripts:before {
    width: 327px;
    height: 165px;
    left: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 20px; }
  .contacts:before {
    width: 272px;
    height: 231px;
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    bottom: 0; } }

@media only screen and (max-width: 810px) {
  .home-page__box1:after, .home-page__box1:before, .home-page__box2:after, .home-page__box2:before {
    display: none; } }

@media only screen and (max-width: 768px) {
  .tabs__caption {
    margin: 0 0 42px;
    padding: 0 20px; }
    .tabs__caption li {
      padding: 0 0 29px;
      margin: 0 20px 0 0; }
      .tabs__caption li:before {
        width: 82px;
        height: 9px;
        bottom: -4.5px; }
  .bonus-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 15px;
    line-height: 1.67;
    width: 49%; }
    .bonus-box h3 {
      font-size: 15px; }
    .bonus-box__icon {
      margin: 0 0 16px;
      height: 67px;
      width: 67px;
      min-width: 67px; }
    .bonus-box:nth-child(5) {
      display: none; }
  .options-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0 0 35px; }
  .options-box__icon {
    margin: 0 auto 18px; }
  label {
    max-width: 480px;
    width: 100%;
    margin: 0 auto 30px; }
    label:last-child {
      margin: 0 auto; }
    label input {
      text-align: center; }
  .form-group {
    padding: 37px 20px 42px;
    border-radius: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  form button {
    margin: 26px auto 0; }
  .callback {
    padding: 0 0 50px; }
  .home-page .description {
    font-size: 18px;
    font-weight: 500; }
  .home-page__box .icon-arrow {
    width: 43px;
    margin: 0 auto 30px; }
  .home-page h1 {
    font-size: 25px; } }

@media only screen and (max-width: 700px) {
  .home-page {
    padding: 38px 0; }
    .home-page:before {
      left: 0;
      top: 0;
      right: auto;
      width: 100%;
      height: 48%; }
    .home-page:after {
      display: none; }
    .home-page .logo, .home-page h1, .home-page .description {
      display: none; }
    .home-page .text-mobile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      margin: 35px auto; }
      .home-page .text-mobile h1 {
        margin: 27px auto;
        display: block; }
      .home-page .text-mobile .logo {
        margin: 0 auto;
        width: 187px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
      .home-page .text-mobile .description {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 320px; }
  .home-page__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .home-page__box .links {
    width: 135px;
    height: 47px;
    border-radius: 23.5px;
    background-color: #fd4e1f;
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .home-page__box2 .icon-arrow {
    position: absolute;
    bottom: -24px;
    right: 0;
    margin: 0;
    width: 60px;
    -webkit-transform: scale(-1, 1) rotate(-100deg);
            transform: scale(-1, 1) rotate(-100deg); }
  .home-page__box2 .links {
    margin: 0 auto 0 0; }
  .home-page__box1 .icon-arrow {
    position: absolute;
    left: -10px;
    margin: 0;
    top: -20px;
    width: 60px;
    -webkit-transform: rotate(-80deg);
            transform: rotate(-80deg); }
  .home-page__box1 .photo {
    margin: 18px 0 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .home-page__box1 .links {
    margin: 0 0 0 auto; } }

@media only screen and (max-width: 665px) {
  .links-menu {
    display: none; }
  header {
    top: 0; }
    header .container {
      border: none;
        border-radius: 0; }
  .links-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .logo {
    margin: 0 60px; }
  main {
    padding: 212px 0 118px; }
  h1, .title-description {
    font-size: 30px; }
  .title-description {
    margin: 0 0 82px; }
  .btn {
    max-width: 281px;
    height: 56px;
    font-size: 18px; }
  .games-photo__box {
    width: 125px;
    height: 125px;
    margin: 0 0 30px; }
  .games-description {
    font-size: 15px; }
  h2 {
    margin: 0 auto 44px;
    font-size: 25px; }
  .tabs__caption li {
    font-size: 15px; }
  .price h2 span:after {
    right: auto;
    left: -55px;
    width: 95px;
    height: 99px;
    -webkit-transform: scale(-1, 1) translate(0, -50%);
            transform: scale(-1, 1) translate(0, -50%);
    top: 0; }
  .description {
    font-size: 15px;
    margin: 0 auto 46px; }
  .stages-event__box .time, .stages-event__box h3 {
    font-size: 20px; }
  .stages-event__box .text {
    line-height: 1.67;
    font-size: 15px; }
  .stages-event {
    padding: 0 0 40px; }
  .stages-event:after {
    top: 140px; }
  .about-video {
    padding: 43px 0 0;
    margin: 0 0 129px; }
    .about-video h2 {
      margin: 0 auto 20px; }
  .video-wrapper {
    height: 216px; }
  .gallery-box {
    height: 150px;
    margin: 0 0 10px;
    border-radius: 30px; }
    .gallery-box img {
      border-radius: 30px; }
  .reviews-box {
    max-width: 345px;
    width: 100%;
    height: 428px;
    padding: 40px; }
  .reviews-box__text {
    font-size: 15px;
    line-height: 1.67; }
  .reservation {
    margin: 56px 0 137px; }
  .options-box__icon {
    width: 72px;
    height: 72px;
    min-width: 72px; }
  .options-box {
    font-size: 15px;
    line-height: 1.67; }
    .options-box h3 {
      font-size: 15px;
      margin: 0 0 10px; }
  .options-box__text {
    font-size: 15px; }
  .scripts {
    padding: 60px 0 63px; }
  .contacts {
    padding: 80px 0 123px; }
  .contacts-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .contacts-box {
    margin: 0 0 29px;
    font-size: 15px;
    max-width: 362px;
    width: 100%; }
    .contacts-box h3 {
      font-size: 15px; }
  .maps {
    height: 520px; }
  footer {
    padding: 28px 0 23px; }
    footer .logo {
      margin: 0 auto; }
    footer .links-mobile {
      width: 100%;
      color: rgba(255, 255, 255, 0.6);
      font-size: 13px;
      margin: 0 auto 9px; }
      footer .links-mobile:last-child {
        margin: 0 auto; }
  .list-social {
    margin: 16px auto 22px; }
    .list-social li a {
      width: 28px;
      height: 28px; }
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
  .scripts-box {
    width: 100%;
    max-width: 390px;
    font-size: 15px;
    line-height: 1.5; }
  .scripts-box__photo {
    height: 320px; }
  .scripts-name {
    bottom: 28px;
    font-size: 15px; }
    .scripts-name h3 {
      font-size: 26px; }
  .scripts-box__content {
    padding: 24px 0 16px; }
    .scripts-box__content ul {
      margin: 15px 0 0; }
  .scripts-box__footer {
    padding: 20px 0; }
    .scripts-box__footer ul {
      font-size: 15px; }
      .scripts-box__footer ul li {
        margin: 0 0 5px; } }

@media only screen and (max-width: 440px) {
  .games-photo__box {
    width: 80px;
    height: 80px; }
  .tabs__caption {
    width: 100%;
    padding: 0; }
    .tabs__caption li {
      font-size: 13px;
      padding: 0 0 15px; }
  .price-box__wrap {
    height: 400px; }
  .price-box {
    padding: 0 10px; }
  .price-box__hover-top {
    font-size: 14px; }
    .price-box__hover-top h4 {
      font-size: 18px; }
  .price-box__hover-center ul {
    font-size: 14px; }
  .stages-event:before {
    right: -20px; }
  .gallery:after {
    right: 0; }
  .mobile-menu a {
    font-size: 14px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 380px) {
  .price-box__hover-bottom ul li, .price-box__hover-bottom ul li:nth-child(even) {
    width: 100%; }
  .price-box__hover-top .box {
    margin: 0 0 10px; }
  .price-box__hover-center {
    margin: 10px auto; }
  .price-box__wrap {
    height: 480px; }
  .gallery:after {
    width: 70px; }
  .reviews-box {
    max-width: 280px; }
  .options-box {
    font-size: 14px;
    line-height: normal; }
    .options-box h3 {
      font-size: 14px; }
  .options-box__text {
    font-size: 14px;
    line-height: normal; }
  .mobile-menu {
    height: 85px; }
    .mobile-menu a {
      font-size: 12px;
      padding: 10px 3px; }
      .mobile-menu a .icon {
        width: 20px; }
  .home-page__box-wrap {
    width: 100%; } }
